<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Твоя Погода</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <div id="container">
        <h1>Твоя Погода</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="error">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST">
            <label for="city">Город:</label>
            <input type="text" name="city" id="city" list="city-suggestions" required>
            <datalist id="city-suggestions"></datalist>
            <button type="submit">Посмотреть погоду</button>
        </form>
        {% if info %}
            <h2>{{ info.city }}:</h2>
            <p>Текущая температура: {{ info.temp }}°C</p>
            <p>Минимальная температура: {{ info.temp_min }}°C</p>
            <p>Максимальная температура: {{ info.temp_max }}°C</p>
        {% endif %}
    </div>
</body>
</html>
